<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
</style>
<body>
<div th:fragment="header">
    <el-menu class="el-menu-demo" mode="horizontal">
        <el-menu-item>
            <svg style="height: 60px;width: 90px;">
                <text fill="rgb(0, 0, 0)" font-family="Adobe Heiti Std" font-size="45px" kerning="auto" x="0px"
                      y="40px">
                    <tspan fill="#0066FF" font-family="LiSu" font-size="45px">&#38395;&#20046;</tspan>
                </text>
            </svg>
        </el-menu-item>
        <el-menu-item style="margin-left: 85%;">
            <el-dropdown placement="bottom" trigger="click">
                    <span class="el-dropdown-link" style="margin-right: 0;">
                        <el-avatar shape="square" size="large">
                         <img alt=""
                              src="https://wpimg.wallstcn.com/f778738c-e4f8-4870-b634-56703b4acafe.gif?imageView2/1/w/80/h/80">
                        </el-avatar>
                        <span>用户名</span>
                    </span>
                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item command="c">个人信息</el-dropdown-item>
                    <el-dropdown-item command="c">修改密码</el-dropdown-item>
                    <el-dropdown-item command="e" divided>退出</el-dropdown-item>
                </el-dropdown-menu>
            </el-dropdown>
        </el-menu-item>
    </el-menu>
</div>
</body>
</html>
