<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="leftNavbar" th:fragment="leftNavbar">
    <el-menu default-active="1" class="el-menu-vertical-demo" >
        <el-submenu index="1">
            <template slot="title">
                <i class="el-icon-s-cooperation"></i>
                <span slot="title">权限管理</span>
            </template>
            <el-menu-item index="1-1">员工管理</el-menu-item>
            <el-menu-item index="1-2">职位管理</el-menu-item>
        </el-submenu>
        <el-submenu index="2">
            <template slot="title">
                <i class="el-icon-edit"></i>
                <span slot="title">创作管理</span>
            </template>
            <el-menu-item index="2-1" >问题管理</el-menu-item>
            <el-menu-item index="2-2" >回答管理</el-menu-item>
            <el-menu-item index="2-3" >文章管理</el-menu-item>
        </el-submenu>
        <el-submenu index="3">
            <template slot="title">
                <i class="el-icon-warning"></i>
                <span slot="title">举报中心</span>
            </template>
            <el-menu-item index="3-1">问题举报</el-menu-item>
            <el-menu-item index="3-2">回答举报</el-menu-item>
            <el-menu-item index="3-3">文章举报</el-menu-item>
            <el-menu-item index="3-4">评论举报</el-menu-item>
            <el-menu-item index="3-5">私信举报</el-menu-item>
        </el-submenu>
        <el-submenu index="4">
            <template slot="title">
                <i class="el-icon-user-solid"></i>
                <span slot="title">用户中心</span>
            </template>
            <el-menu-item index="4-1">用户列表</el-menu-item>
            <el-menu-item index="4-2">封禁列表</el-menu-item>
        </el-submenu>
        <el-submenu index="5">
            <template slot="title">
                <i class="el-icon-s-help"></i>
                <span slot="title">功能中心</span>
            </template>
            <el-menu-item index="5-1">热榜管理</el-menu-item>
            <el-menu-item index="5-2">敏感词管理</el-menu-item>
        </el-submenu>
        <el-submenu index="6">
            <template slot="title">
                <i class="el-icon-s-tools"></i>
                <span slot="title">系统中心</span>
            </template>
            <el-menu-item index="6-1">SQL监控</el-menu-item>
            <el-menu-item index="6-2">服务监控</el-menu-item>
        </el-submenu>
    </el-menu>
</div>
</body>
<script>


    new Vue({
        el: '#leftNavbar',
        data() {
            return {}
        }
    })
</script>
</html>
