<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
    }

    .grid-content {
        border-radius: 4px;
        min-height: 36px;
        margin-top: 20px;
    }
</style>
<body>
<div id="app">
    <div th:replace="~{common/header :: header}"></div>
    <el-container>
        <el-container>
            <el-aside width="240px">
                <el-menu class="el-menu-vertical-demo" default-active="0">
                    <div th:replace="~{common/menuMain :: menuMain}"></div>
                </el-menu>
            </el-aside>

            <el-main>
                <el-row style="margin-top: 80px;">
                    <el-col :offset="8" :span="6">
                        <div class="grid-content">
                            <el-form action="user/changePassword" class="demo-ruleForm" id="loginForm" label-width="100px"
                                     method="post"
                                     status-icon>
                                <el-row>
                                    <el-col :span="24">
                                        <div class="grid-content" style="font-size: 25px;text-align: center;">
                    <span style="font-size: 25px;text-align: center;">
                        修改密码
                    </span>
                                        </div>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <div class="grid-content">
                                            <el-input name="oldPassword" placeholder="原密码" prefix-icon="el-icon-lock"
                                                      show-password
                                                      v-model="oldPassword"></el-input>
                                        </div>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <div class="grid-content">
                                            <el-input name="oneNewPassword" placeholder="新密码" prefix-icon="el-icon-lock"
                                                      show-password
                                                      v-model="oneNewPassword"></el-input>
                                        </div>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="24">
                                        <div class="grid-content">
                                            <el-input name="twoNewPassword" placeholder="重复新密码" prefix-icon="el-icon-lock"
                                                      show-password
                                                      v-model="twoNewPassword"></el-input>
                                        </div>
                                    </el-col>
                                </el-row>
                                <div style="text-align: center;margin-top: 10px;">
                                    <span style="color: red;" th:text="${changePasswordInfo}"></span>
                                </div>
                                <el-row>
                                    <el-col :span="24">
                                        <div class="grid-content">
                                            <el-button @click="submitDataMethod" style="width: 100%;" type="primary">修改
                                            </el-button>
                                        </div>
                                    </el-col>
                                </el-row>
                            </el-form>
                        </div>
                    </el-col>
                </el-row>


            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script th:src="@{/static/vue/dist/vue.js}"></script>
<script th:src="@{/static/element-ui/lib/index.js}"></script>
<link rel="stylesheet" th:href="@{/static/element-ui/lib/theme-chalk/index.css}">
<script th:src="@{/static/vue-router/dist/vue-router.js}"></script>
<script th:src="@{/static/axios/dist/axios.min.js}"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                oldPassword: '',
                oneNewPassword: '',
                twoNewPassword: ''
            }
        },
        methods: {
            submitDataMethod() {
                const FloatRegexPassword = /\w{6,16}/
                if (!FloatRegexPassword.test(this.oldPassword) || !FloatRegexPassword.test(this.oneNewPassword) || !FloatRegexPassword.test(this.twoNewPassword)) {
                    this.$message.error({
                        message: '错了哦，密码是6-16位字母的组合，区分大小写',
                        center: true
                    })
                    return false
                }
                if (this.oneNewPassword !== this.twoNewPassword) {
                    this.$message.error({
                        message: '错了哦，两次新密码不一致~',
                        center: true
                    })
                    return false
                }
                if (this.oldPassword === this.twoNewPassword) {
                    this.$message.error({
                        message: '错了哦，新密码和旧密码不能一样哦~',
                        center: true
                    })
                    return false
                }
                const form = document.getElementById('loginForm');
                form.submit();
            }
        }
    })
</script>
</html>
