<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
    }


</style>
<body>
<div id="app">
    <div th:replace="~{common/header :: header}"></div>
    <el-container>
        <el-container>
            <el-aside width="240px">
                <el-menu class="el-menu-vertical-demo" default-active="2-2">
                    <div th:replace="~{common/menuMain :: menuMain}"></div>
                </el-menu>
            </el-aside>

            <el-main>
                <div th:html>
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><a>创作中心</a></el-breadcrumb-item>
                        <el-breadcrumb-item v-if="answer===1">回答管理</el-breadcrumb-item>
                        <el-breadcrumb-item v-if="answer===0">文章管理</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
                <div style="margin-top: 20px;">
                    <el-input class="input-with-select" placeholder="请输入内容" v-model="searchInput">
                        <el-select placeholder="请选择" slot="prepend" style="width: 90px;" v-model="searchSelect">

                            <el-option label="id" value="1"></el-option>
                            <el-option label="问题id" value="2"></el-option>
                            <el-option label="用户id" value="3"></el-option>
                            <el-option label="内容" value="4"></el-option>
                        </el-select>
                        <el-button @click="listAnswerBySearch" icon="el-icon-search" slot="append"></el-button>
                    </el-input>
                </div>
                <div style="margin-top: 10px;">

                    <el-table :data="listAnswer" border fit highlight-current-row v-loading="">
                        <el-table-column align="center" label="序号" type="index" width="80">
                        </el-table-column>
                        <el-table-column align="center" label="id" width="250">
                            <template slot-scope="{row}">
                                <span>{{ row.id }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="问题id" width="150">
                            <template slot-scope="{$index,row}">
                                <span>{{ row.userId }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="用户id" width="150">
                            <template slot-scope="{$index,row}">
                                <span>{{ row.userId }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="内容" width="250">
                            <template slot-scope="{$index,row}">
                                <span v-if="isEditList[$index]">
                                    <el-input class="edit-input" size="small" v-model="row.content"/>
                                </span>
                                <span v-else>{{ row.content }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="赞同数" width="150">
                            <template slot-scope="{$index,row}">
                                <span v-if="isEditList[$index]">
                                    <el-input class="edit-input" size="small" v-model="row.approvalNumber"/>
                                </span>
                                <span v-else>{{ row.approvalNumber }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="修改时间" width="250">
                            <template slot-scope="{$index,row}">
                                <span>{{ row.updateTime | formatTimer(true) }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column align="center" fixed="right" label="操作" width="200">
                            <template slot-scope="{$index,row}">
                                <el-button
                                        @click="abandonEditAnswerMethod($index, row)"
                                        icon="el-icon-error"
                                        size="small"
                                        type="warning"
                                        v-if="isEditList[$index]"
                                >
                                    放弃
                                </el-button>
                                <el-button
                                        @click="updateAnswerMethod($index, row)"
                                        icon="el-icon-document-checked"
                                        size="small"
                                        type="success"
                                        v-if="isEditList[$index]"
                                >
                                    保存
                                </el-button>
                                <el-button
                                        @click="editAnswerMethod($index, row)"
                                        icon="el-icon-edit"
                                        size="small"
                                        type="primary"
                                        v-else
                                >
                                    编辑
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="width: 100%;background-color: #ffffff;">
                        <el-pagination :hide-on-single-page="true" :page-size="10" :total="listAnswerCount"
                                       @current-change="current_change"
                                       layout="total, prev, pager, next" style="text-align:center;"/>
                    </div>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script th:src="@{/static/vue/dist/vue.js}"></script>
<script th:src="@{/static/element-ui/lib/index.js}"></script>
<link rel="stylesheet" th:href="@{/static/element-ui/lib/theme-chalk/index.css}">
<script th:src="@{/static/vue-router/dist/vue-router.js}"></script>
<script th:src="@{/static/axios/dist/axios.min.js}"></script>
<script>
    new Vue({
        el: '#app',
        filters: {
            formatTimer: function (value, hours) {
                const date = new Date(value)
                const y = date.getFullYear()
                let M = date.getMonth() + 1
                M = M < 10 ? '0' + M : M
                let d = date.getDate()
                d = d < 10 ? '0' + d : d
                let h = date.getHours()
                let m = date.getMinutes()
                h = h >= 10 ? h : '0' + h
                m = m >= 10 ? m : '0' + m
                if (hours) {
                    return y + '-' + M + '-' + d + ' ' + h + ':' + m
                } else {
                    return y + '-' + M + '-' + d
                }
            }
        },
        data() {
            return {
                datetime: new Date(),
                searchSelect: '',
                searchInput: '',
                answer: 1,
                listAnswer: [],
                listAnswerCount: 0,
                searchAnswerCount: 0,
                isEditList: []
            }
        },
        created() {
            this.listAnswerMethod(1)
        },
        methods: {
            listAnswerMethod(page) {
                const submitData = {'page': page, 'answer': this.answer}
                axios.post('/answer/listAnswer', submitData,
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    this.listAnswer = response.data.listAnswer
                    this.listAnswerCount = response.data.listAnswerCount
                    for (let i = 0; i < this.listAnswer.length; i++) {
                        this.isEditList.push(false)
                    }
                })
            },
            current_change(page) {
                if (this.searchAnswerCount === 0) {
                    this.listAnswerMethod(page)
                }
                if (this.searchAnswerCount === 1) {
                    this.listAnswerBySearchMethod(page)
                }
            },
            updateAnswerMethod(index, row) {
                this.abandonEditAnswerMethod(index, row)
                axios.post('/answer/updateAnswer', JSON.stringify(row),
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    if (response.data.updateAnswerResult) {
                        this.$message({
                            message: '修改成功',
                            type: 'success',
                            center: true
                        })
                    } else {
                        this.$message({
                            message: '修改失败',
                            type: 'success',
                            center: true
                        })
                    }
                }).catch(() => {
                    this.$message({
                        message: '修改失败',
                        type: 'success',
                        center: true
                    })
                })
            },
            editAnswerMethod(index, row) {
                Vue.set(this.isEditList, index, true)
            },
            abandonEditAnswerMethod(index, row) {
                Vue.set(this.isEditList, index, false)
            },

            listAnswerBySearch() {
                this.listAnswerBySearchMethod(1)
            },
            listAnswerBySearchMethod(page) {
                if (this.searchInput === '' || this.searchSelect === '') {
                    this.$message({
                        message: '请选择并输入哦~',
                        type: 'warning',
                        center: true
                    })
                    return
                }
                let submitData = ''
                if (this.searchSelect === '1') {
                    submitData = {
                        'page': page,
                        'answer': this.answer,
                        'answerId': this.searchInput
                    }
                }
                if (this.searchSelect === '2') {
                    submitData = {'page': page, 'answer': this.answer, 'questionId': this.searchInput}
                }
                if (this.searchSelect === '3') {
                    submitData = {'page': page, 'answer': this.answer, 'userId': this.searchInput}
                }
                if (this.searchSelect === '4') {
                    submitData = {'page': page, 'answer': this.answer, 'content': this.searchInput}
                }
                // console.log(submitData)
                axios.post('/answer/listAnswerBySearch', submitData,
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    //标记属于搜索页面
                    this.searchAnswerCount = 1
                    this.listAnswer = response.data.listAnswerSearch
                    this.listAnswerCount = response.data.listAnswerSearchCount
                    for (let i = 0; i < this.listAnswer.length; i++) {
                        this.isEditList.push(false)
                    }
                })
            },
        }
    })
</script>
</html>
