<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
    }

</style>
<body>
<div id="app">
    <div th:replace="~{common/header :: header}"></div>
    <el-container>
        <el-container>
            <el-aside width="240px">
                <el-menu class="el-menu-vertical-demo" default-active="5-2">
                    <div th:replace="~{common/menuMain :: menuMain}"></div>
                </el-menu>
            </el-aside>

            <el-main>
                <div th:html>
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><a>功能中心</a></el-breadcrumb-item>
                        <el-breadcrumb-item>分类管理</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
                <el-row style="margin-top: 20px;">
                    <el-col :span="23">
                    <el-input class="input-with-select" placeholder="请输入内容" style="float: left;"
                              v-model="searchInput">
                        <el-select placeholder="请选择" slot="prepend" style="width: 90px;" v-model="searchSelect">
                            <el-option label="id" value="1"></el-option>
                            <el-option label="分类名" value="2"></el-option>
                        </el-select>
                        <el-button @click="listClassifyBySearch" icon="el-icon-search" slot="append"></el-button>
                    </el-input>
                    </el-col>
                    <el-col :span="1">
                    <el-button @click="dialogAddValueVisible = true" icon="el-icon-circle-plus"
                               style="float: right" type="primary">
                    </el-button>
                    </el-col>
                    <el-dialog :visible.sync="dialogAddValueVisible" title="添加数据" width="40%">
                        <el-input placeholder="分类名" style="margin-top: 10px;" v-model="addClassifyName"></el-input>
                        <div class="dialog-footer" slot="footer">
                            <el-button @click="dialogAddValueVisible = false">取 消</el-button>
                            <el-button @click="saveClassifyMethod" type="primary">确 定</el-button>
                        </div>
                    </el-dialog>

                </el-row>
                <div style="margin-top: 10px;">

                    <el-table :data="listClassify" border fit highlight-current-row v-loading="">
                        <el-table-column align="center" label="序号" type="index" width="250">
                        </el-table-column>
                        <el-table-column align="center" label="id" width="350">
                            <template slot-scope="{row}">
                                <span>{{ row.id }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="分类名" width="350">
                            <template slot-scope="{$index,row}">
                                <span v-if="isEditList[$index]">
                                    <el-input class="edit-input" size="small" v-model="row.classifyName"/>
                                </span>
                                <span v-else>{{ row.classifyName }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column align="center" label="修改时间" width="350">
                            <template slot-scope="{$index,row}">
                                <span>{{ row.updateTime | formatTimer(true) }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column align="center" label="操作" width="350">
                            <template slot-scope="{$index,row}">
                                <el-button
                                        @click="abandonEditClassify($index, row)"
                                        icon="el-icon-error"
                                        size="small"
                                        type="warning"
                                        v-if="isEditList[$index]"
                                >
                                    放弃
                                </el-button>
                                <el-button
                                        @click="updateClassifyMethod($index, row)"
                                        icon="el-icon-document-checked"
                                        size="small"
                                        type="success"
                                        v-if="isEditList[$index]"
                                >
                                    保存
                                </el-button>
                                <el-button
                                        @click="editClassifyMethod($index, row)"
                                        icon="el-icon-edit"
                                        size="small"
                                        type="primary"
                                        v-else
                                >
                                    编辑
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="width: 100%;background-color: #ffffff;">
                        <el-pagination :hide-on-single-page="true" :page-size="10" :total="listClassifyCount"
                                       @current-change="current_change"
                                       layout="total, prev, pager, next" style="text-align:center;"/>
                    </div>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script th:src="@{/static/vue/dist/vue.js}"></script>
<script th:src="@{/static/element-ui/lib/index.js}"></script>
<link rel="stylesheet" th:href="@{/static/element-ui/lib/theme-chalk/index.css}">
<script th:src="@{/static/vue-router/dist/vue-router.js}"></script>
<script th:src="@{/static/axios/dist/axios.min.js}"></script>
<script>
    new Vue({
        el: '#app',
        filters: {
            formatTimer: function (value, hours) {
                const date = new Date(value)
                const y = date.getFullYear()
                let M = date.getMonth() + 1
                M = M < 10 ? '0' + M : M
                let d = date.getDate()
                d = d < 10 ? '0' + d : d
                let h = date.getHours()
                let m = date.getMinutes()
                h = h >= 10 ? h : '0' + h
                m = m >= 10 ? m : '0' + m
                if (hours) {
                    return y + '-' + M + '-' + d + ' ' + h + ':' + m
                } else {
                    return y + '-' + M + '-' + d
                }
            }
        },
        data() {
            return {
                datetime: new Date(),
                searchSelect: '',
                searchInput: '',
                listClassify: [],
                listClassifyCount: 0,
                searchClassify: 0,
                isEditList: [],
                dialogAddValueVisible: false,
                addClassifyName: ''
            }
        },
        created() {
            this.listClassifyMethod(1)
        },
        methods: {
            listClassifyMethod(page) {
                this.searchClassify = 0
                const submitData = {'page': page}
                axios.post('/classify/listClassify', submitData,
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    this.listClassify = response.data.listClassify
                    this.listClassifyCount = response.data.listClassifyCount
                    for (let i = 0; i < this.listClassify.length; i++) {
                        this.isEditList.push(false)
                    }
                })
            },
            current_change(page) {
                if (this.searchClassify === 0) {
                    this.listClassifyMethod(page)
                }
                if (this.searchClassify === 1) {
                    this.listClassifyBySearchMethod(page)
                }
            },
            saveClassifyMethod() {
                if (this.addClassifyName === '') {
                    this.$message({
                        message: '请输入哦~',
                        type: 'warning',
                        center: true
                    })
                    return
                }
                const submitData = {'classifyName': this.addClassifyName}
                axios.post('/classify/saveClassify', submitData,
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    this.$message({
                        message: '添加成功',
                        type: 'success',
                        center: true
                    })
                    this.listClassifyMethod(1)
                    this.dialogAddValueVisible = false
                    this.addValue = ''
                    this.addSubstitute = ''
                }).catch(() => {
                    this.$message({
                        message: '添加失败',
                        type: 'error',
                        center: true
                    })
                })
            },
            updateClassifyMethod(index, row) {
                this.abandonEditClassify(index, row)
                axios.post('/classify/updateClassify', JSON.stringify(row),
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    if (response.data.updateClassifyResult) {
                        this.$message({
                            message: '修改成功',
                            type: 'success',
                            center: true
                        })
                    } else {
                        this.$message({
                            message: '修改失败',
                            type: 'error',
                            center: true
                        })
                    }
                }).catch(() => {
                    this.$message({
                        message: '修改失败',
                        type: 'error',
                        center: true
                    })
                })
            },
            editClassifyMethod(index, row) {
                Vue.set(this.isEditList, index, true)
            },
            abandonEditClassify(index, row) {
                Vue.set(this.isEditList, index, false)
            },

            listClassifyBySearch() {
                this.listClassifyBySearchMethod(1)
            },
            listClassifyBySearchMethod(page) {
                if (this.searchInput === '' || this.searchSelect === '') {
                    this.$message({
                        message: '请选择并输入哦~',
                        type: 'warning',
                        center: true
                    })
                    return
                }
                let submitData = ''
                if (this.searchSelect === '1') {
                    submitData = {'page': page, 'id': this.searchInput}
                }
                if (this.searchSelect === '2') {
                    submitData = {'page': page, 'classifyName': this.searchInput}
                }
                if (this.searchSelect === '3') {
                }
                console.log(submitData)
                axios.post('/classify/listClassifySearch', submitData,
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    //标记属于搜索页面
                    this.searchClassify = 1
                    this.listClassify = response.data.listClassifySearch
                    this.listClassifyCount = response.data.listClassifySearchCount
                    for (let i = 0; i < this.listClassify.length; i++) {
                        this.isEditList.push(false)
                    }
                })
            },
        }
    })
</script>
</html>
