<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
    }

    .el-select .el-input {
        width: 130px;
    }

</style>
<body>
<div id="app">
    <div th:replace="~{common/header :: header}"></div>
    <el-container>
        <el-container>
            <el-menu class="el-menu-vertical-demo" default-active="2-1">
                <el-submenu index="1">
                    <template slot="title">
                        <i class="el-icon-s-cooperation"></i>
                        <span slot="title">权限管理</span>
                    </template>
                    <el-menu-item index="1-1">员工管理</el-menu-item>
                    <el-menu-item index="1-2">职位管理</el-menu-item>
                </el-submenu>
                <el-submenu index="2">
                    <template slot="title">
                        <i class="el-icon-edit"></i>
                        <span slot="title">创作中心</span>
                    </template>
                    <el-menu-item index="2-1">问题管理</el-menu-item>
                    <el-menu-item index="2-2">回答管理</el-menu-item>
                    <el-menu-item index="2-3">文章管理</el-menu-item>
                </el-submenu>
                <el-submenu index="3">
                    <template slot="title">
                        <i class="el-icon-warning"></i>
                        <span slot="title">举报中心</span>
                    </template>
                    <el-menu-item index="3-1">问题举报</el-menu-item>
                    <el-menu-item index="3-2">回答举报</el-menu-item>
                    <el-menu-item index="3-3">文章举报</el-menu-item>
                    <el-menu-item index="3-4">评论举报</el-menu-item>
                    <el-menu-item index="3-5">私信举报</el-menu-item>
                </el-submenu>
                <el-submenu index="4">
                    <template slot="title">
                        <i class="el-icon-user-solid"></i>
                        <span slot="title">用户中心</span>
                    </template>
                    <el-menu-item index="4-1">
                        <el-link :underline="false" href="listUserNoBanned.html">用户列表</el-link>
                    </el-menu-item>
                    <el-menu-item index="4-2">
                        <el-link :underline="false" href="listUserIsBanned.html">封禁列表</el-link>
                    </el-menu-item>
                </el-submenu>
                <el-submenu index="5">
                    <template slot="title">
                        <i class="el-icon-s-help"></i>
                        <span slot="title">功能中心</span>
                    </template>
                    <el-menu-item index="5-1">热榜管理</el-menu-item>
                    <el-menu-item index="5-2">敏感词管理</el-menu-item>
                </el-submenu>
                <el-submenu index="6">
                    <template slot="title">
                        <i class="el-icon-s-tools"></i>
                        <span slot="title">系统中心</span>
                    </template>
                    <el-menu-item index="6-1">SQL监控</el-menu-item>
                    <el-menu-item index="6-2">服务监控</el-menu-item>
                </el-submenu>
            </el-menu>

            <el-main>
                <div th:html>
                    <el-breadcrumb separator="/">
                        <el-breadcrumb-item><a>创作中心</a></el-breadcrumb-item>
                        <el-breadcrumb-item>问题管理</el-breadcrumb-item>
                    </el-breadcrumb>
                </div>
                <div style="margin-top: 10px;">

                    <el-table :data="listPosition" border fit highlight-current-row v-loading="">
                        <el-table-column align="center" label="序号" type="index" width="300">
                        </el-table-column>
                        <el-table-column align="center" label="id" width="350">
                            <template slot-scope="{row}">
                                <span>{{ row.id }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column align="center" label="职位名称" width="350">
                            <template slot-scope="{$index,row}">
                                <span v-if="isEditList[$index]">
                                    <el-input class="edit-input" size="small" v-model="row.positionName"/>
                                </span>
                                <span v-else>{{ row.positionName }}</span>
                            </template>
                        </el-table-column>
                        <el-table-column align="center" label="权限等级" width="300">
                            <template slot-scope="{$index,row}">
                                <span v-if="isEditList[$index]">
                                    <el-input class="edit-input" size="small" v-model="row.power"/>
                                </span>
                                <span v-else>{{ row.power }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column align="center" label="修改时间" width="350">
                            <template slot-scope="{$index,row}">
                                <span>{{ row.updateTime | formatTimer(true) }}</span>
                            </template>
                        </el-table-column>

                        <el-table-column align="center" fixed="right" label="操作" width="200">
                            <template slot-scope="{$index,row}">
                                <el-button
                                        @click="abandonEditPosition($index, row)"
                                        icon="el-icon-error"
                                        size="small"
                                        type="warning"
                                        v-if="isEditList[$index]"
                                >
                                    放弃
                                </el-button>
                                <el-button
                                        @click="savePositionMethod($index, row)"
                                        icon="el-icon-document-checked"
                                        size="small"
                                        type="success"
                                        v-if="isEditList[$index]"
                                >
                                    保存
                                </el-button>
                                <el-button
                                        @click="editPositionMethod($index, row)"
                                        icon="el-icon-edit"
                                        size="small"
                                        type="primary"
                                        v-else
                                >
                                    编辑
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <div style="width: 100%;background-color: #ffffff;">
                        <el-pagination :hide-on-single-page="true" :page-size="10" :total="listPositionCount"
                                       @current-change="current_change"
                                       layout="total, prev, pager, next" style="text-align:center;"/>
                    </div>
                </div>
            </el-main>
        </el-container>
    </el-container>
</div>
</body>
<script th:src="@{/static/vue/dist/vue.js}"></script>
<script th:src="@{/static/element-ui/lib/index.js}"></script>
<link rel="stylesheet" th:href="@{/static/element-ui/lib/theme-chalk/index.css}">
<script th:src="@{/static/vue-router/dist/vue-router.js}"></script>
<script th:src="@{/static/axios/dist/axios.min.js}"></script>
<script>
    new Vue({
        el: '#app',
        filters: {
            formatTimer: function (value, hours) {
                const date = new Date(value)
                const y = date.getFullYear()
                let M = date.getMonth() + 1
                M = M < 10 ? '0' + M : M
                let d = date.getDate()
                d = d < 10 ? '0' + d : d
                let h = date.getHours()
                let m = date.getMinutes()
                h = h >= 10 ? h : '0' + h
                m = m >= 10 ? m : '0' + m
                if (hours) {
                    return y + '-' + M + '-' + d + ' ' + h + ':' + m
                } else {
                    return y + '-' + M + '-' + d
                }
            }
        },
        data() {
            return {
                listPosition: [],
                listPositionCount: 0,
                isEditList: []
            }
        },
        created() {
            this.listQuestionMethod()
        },
        methods: {
            listQuestionMethod() {
                this.searchQuestion = 0
                axios.post('/position/listPosition',
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    this.listPosition = response.data.listPosition
                    this.listPositionCount = response.data.listPositionCount
                    for (let i = 0; i < this.listPosition.length; i++) {
                        this.isEditList.push(false)
                    }
                })
            },
            savePositionMethod(index, row) {
                this.abandonEditPosition(index, row)
                axios.post('/position/savePosition', JSON.stringify(row),
                    {headers: {'Content-Type': 'application/json;charset=utf-8'}}
                ).then(response => {
                    if (response.data.savePositionResult) {
                        this.$message({
                            message: '修改成功',
                            type: 'success',
                            center: true
                        })
                    } else {
                        this.$message({
                            message: '修改失败',
                            type: 'success',
                            center: true
                        })
                    }
                }).catch(() => {
                    this.$message({
                        message: '修改失败',
                        type: 'success',
                        center: true
                    })
                })
            },
            editPositionMethod(index, row) {
                Vue.set(this.isEditList, index, true)
            },
            abandonEditPosition(index, row) {
                Vue.set(this.isEditList, index, false)
            }

        }
    })
</script>
</html>
