<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
</head>
<style>
    html, body {
        margin: 0;
        padding: 0;
        background-color: #f6f6f6;
    }
</style>
<body>
<div id="app">
    <div th:replace="~{common/header :: header}"></div>

    <el-container>
        <el-container>
            <el-aside width="250px" style="height: 1000px;">
                <div th:replace="~{common/navbar :: navbar}"></div>
            </el-aside>
            <el-main>

            </el-main>
        </el-container>
    </el-container>
</div>
</body>

<!-- import Vue before Element -->
<script th:src="@{/static/vue/dist/vue.js}"></script>
<!-- import JavaScript -->
<script th:src="@{/static/element-ui/lib/index.js}"></script>
<link rel="stylesheet" th:href="@{/static/element-ui/lib/theme-chalk/index.css}">
<script>


    new Vue({
        el: '#app',
        data: function () {
            return {visible: false}
        }
    })
</script>
</html>
